examples/echo.json
[
  {
    "id": "b3dfa782ee0626d2",
    "type": "discord.event",
    "z": "2146aaf065441cfe",
    "name": "",
    "client": "",
    "event": "message",
    "x": 120,
    "y": 60,
    "wires": [
      [
        "292830156648b485"
      ]
    ]
  },
  {
    "id": "292830156648b485",
    "type": "discord.botUser",
    "z": "2146aaf065441cfe",
    "name": "",
    "client": "",
    "destination": "botUser",
    "desttype": "msg",
    "x": 290,
    "y": 60,
    "wires": [
      [
        "52529e6ca153c34d"
      ]
    ]
  },
  {
    "id": "52529e6ca153c34d",
    "type": "switch",
    "z": "2146aaf065441cfe",
    "name": "Filter Bot Message",
    "property": "payload.authorID",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "botUser.id",
        "vt": "msg"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 60,
    "wires": [
      [
        "93dc3b0ca2e1dd2d"
      ]
    ]
  },
  {
    "id": "93dc3b0ca2e1dd2d",
    "type": "change",
    "z": "2146aaf065441cfe",
    "name": "Prepare Echo",
    "rules": [
      {
        "t": "move",
        "p": "payload.channelID",
        "pt": "msg",
        "to": "channelID",
        "tot": "msg"
      },
      {
        "t": "move",
        "p": "payload.content",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 60,
    "wires": [
      [
        "5b5147a676409fe4"
      ]
    ]
  },
  {
    "id": "5b5147a676409fe4",
    "type": "discord.send",
    "z": "2146aaf065441cfe",
    "name": "",
    "client": "",
    "channel": "channelID",
    "src": "msg",
    "x": 840,
    "y": 60,
    "wires": [
      []
    ]
  }
]